@require '~vuetify/src/stylus/settings/_colors'
@require '~vuetify/src/stylus/settings/_theme'

// Colors
// ============================================================

$primary = {
  base: #264fc1,
  light: #9aa7e0,
  dark: #113dab
}
$secondary = {
  base: #6b34d3,
  light: #b79de9,
  dark: #5127c4
}
$accent = {
  base: #00d4b7,
  light: #53f2e2,
  dark: #00b294
}
$error = {
  base: #FF5630
}
$background = {
  dark: #18191c
}
$surface = {
  base: #303033,
  dp01: #242528,
  dp02: #28292c,
  dp03: #2a2b2e,
  dp04: #2d2e30,
  dp06: #313235,
  dp08: #343538,
  dp12: #39393c,
  dp16: #3a3b3e,
  dp24: #3d3e40
}
$on = {
  light: #ECF0F1,
  dark: #050709
}

$custom-dark = {
  app-bar: $surface.dp04,
  background: $background.dark,
  cards: $surface.dp08,
  dividers: rgba($on.light, .12),
  text: {
    theme: $on.light,
    primary: $on.light,
    secondary: rgba($on.light, .70),
    disabled: rgba($on.light, .50),
    link: $primary.base,
    link-hover: rgba($primary.dark, 0.87)
  },
  icons: {
    active: $on.light,
    inactive: rgba($on.light, .5)
  },
  inputs: {
    box: $on.light,
    solo-inverted: rgba($on.light, .16),
    solo-inverted-focused: $on.light,
    solo-inverted-focused-text: $on.dark
  },
  buttons: {
    disabled: rgba($on.light, .3),
    focused: rgba($on.light, .12),
    focused-alt: rgba($on.light, .1),
    pressed: rgba(#ccc, .25)
  },
  expansion-panels: {
    focus: $surface.dp04
  },
  tabs: {
    active: $on.light
  },
  text-fields: {
    box: rgba($on.dark, .3),
    box-hover: rgba($on.dark, .4),
    box-focus: rgba($on.dark, .5)
  },
  input-bottom-line: rgba($on.light, .7),
  table: {
    active: #505050
    hover: $grey.darken-2
  },
  picker: {
    body: $grey.darken-3,
    clock: $grey.darken-2,
    indeterminateTime: $grey.darken-1,
    title: $grey.darken-2
  },
  bg-color: $background.dark
  fg-color: $on.light
  text-color: $on.light
  primary-text-percent: 1
  secondary-text-percent: .70
  disabledORhints-text-percent: .50
  divider-percent: .12
  active-icon-percent: 1
  inactive-icon-percent: .50
}

$material-dark = merge($material-dark, $custom-dark)

$color-pack = false

$body-font-family = Roboto, Ubuntu, 'Segoe UI', 'Helvetica Neue', 'Noto Sans', Arial, sans-serif
$font-size-root = 16px
$line-height-root = 1.4

@import '~vuetify/src/stylus/main'
@import './_overrides.styl'
